@import url('./globals/index.css');

.list-body {
    width: 100%;
    min-height: 100vh;
    background: var(--background-color);
    color: #fff;
}

header {
    background: #161616;
    position: sticky;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.list-container {
    width: 85%;
    margin-inline: auto;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

 .logo h2 {
    font-size: 1.3rem;
}

nav a {
    color: #fff;
}

nav ul a {
    transition: all 0.3s ease;
    margin-left: 0.5rem;
    display: inline-block;
}

nav ul a:hover {
    color: var(--primary-color);
}

.list-ride-btn {
    background: var(--primary-background);
    padding:0.3rem 1.5rem;
    border-radius: 5px;
}

.list-ride-btn:hover {
    color: #fff;
    opacity: 0.9;
}


.input-search {
    position: relative;
}

.input-search > input {
    padding: 0.2rem 2rem;
    border-radius: 7px;
    background: #464545;
    color: #fff;
}


.input-search >span {
    position: absolute;
    left: 8px;
    bottom: 6px;
    color: #bbbbbb;
    font-size: 1.2rem;
}

@media screen and (max-width:780px) {
    nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media screen and (min-width:781px) {
      .menu-btn {
        display: none;
    }
}